# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:
- List popular languages that Data Scientists use.
- List commonly used libraries in Data Science.
- Create a table listing development environment open source tools.
- Perform simple arithmetic.

Some of the popular languages that Data Scientists use are:

 1. Python
 2. SQL
 3. R
 4. Julia

Some of the commonly used libraries used by Data Scientists include:
 1. Pandas
 2. NumPy
 3. Matplotlib
 4. SciPy

|Data Science Tools|
|------------------|
|Jupyter Notebooks|
|R Studio|
|Zeppelin Notebooks|

### Below are a few examples of evaluating arithmetic expressions in Python:

In [7]:
#This a simple arithmetic expression to multiply then add integers:
(3*4)+5

17

In [8]:
#This will convert 200 minutes to hours by diving by 60:
200/60

3.3333333333333335

## Author
Bryan West